body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("./media/library_back.jpg");
  background-size: cover;
  background-attachment: fixed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wizard-container {
  padding-top: 100px;
  z-index: 3;
}

.wizard-card {
  min-height: 600px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 20px 16px -15px rgba(0, 0, 0, 0.57);
}

.card {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  padding: 10px 0;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.button-color {
  color: white !important;
  background-color: #EB5E28 !important;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #EB5E28 !important;
}

.MuiButton-outlinedPrimary {
  color: rgb(224, 85, 31) !important;
  border: 1px solid #EB5E28 !important;
}

.highlight {
  color: white !important;
  background-color: #EB5E28 !important;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #EB5E28 !important;
}
/****** SUCCESS PAGE *****/
.successIcon {
  font-size: 200px;
  color: green;
  margin-bottom: 10px;
}
/****** HOME PAGE *********/
.homePageTitle {
  font-size: 4rem !important;
  font-weight: 900 !important;
  line-height: 2 !important;
  letter-spacing: -0.00833em;
  color: #EB5E28 !important;
  margin: 50px 0 80px 0 !important;
}

.homePageText {
  margin-bottom: 100px !important;
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  line-height: 2 !important;
  padding: 0 150px !important;
}

/******* GENRE - BUTTON *****/
.clearButton {
  width: 100%;
  text-align: right;
  color: lightgrey !important;
  font-size: 10px;
  padding-right: 10px !important;
  cursor: pointer;
}
button {
  min-width: 150px !important;
}
.buttonContainer {
  margin-top: 100px !important;
  padding: 50px;
}

.buttonMargin {
  margin-right: 400px !important;
}